body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    transition: background-color 0.5s;
}

button {
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
}

button:hover {
    background-color: black;
}